# Virtual Environments
backend/venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
backend/__pycache__/

# OS files
.DS_Store
Thumbs.db

# IDEs/Editors
.vscode/
.idea/

# Node
node_modules/
backend/node_modules/
